/*图片盒子*/
#box{
	width:960px;
	margin:10px auto;
	height:370px;
	background-image:url("../images/slide-1.jpg");
	background-size:cover;
	background-repeat:repeat-x;
	position:relative;	
}
/*蒙版*/
#box .overlay{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.3);
	transition:all 1s ease;
}
#box:hover .overlay{
	background:rgba(0,0,0,0.5);
}
#musicbox span{
	width:6px;
	background:green;
	height:2px;
	display:inline-block;
	position:absolute;
	bottom:0;
	left:0;
	z-index:3;
	
}